flask
flask-cors
yfinance
python-dotenv
apscheduler
websockets
polygon-api-client
redis
rq
PyJWT
flask-socketio
gunicorn
gevent
gevent-websocket 
Flask-SQLAlchemy
SQLAlchemy
authlib
Flask-Migrate
psycopg2